<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http//www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>merukari</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script>

</script>
</head>
<body>
	<h1>[ 판매 정보 ]</h1>
	
	<table>
		<tr>
			<th>작성자</th>
			<td th:text="${board.memberid}"></td>
		</tr>
		<tr>
			<th>작성일</th>
			<td th:text="${board.inputdate}"></td>
		</tr>
		<tr>
			<th>제목</th>
			<td th:text="${board.title}"></td>
		</tr>
		<tr>
			<th>내용</th>
			<td><pre th:text="${board.contents}"></pre></td>
		</tr>
	</table>
	
	<div th:if="${board.memberid == #authentication.name}">
		<p><a th:href="@{/board/delete(boardnum=${board.boardnum})}">삭제</a></p>
	</div>
	
	<div th:if="${board.memberid != #authentication.name}">
		<p><a th:href="@{/board/buyItem(boardnum=${board.boardnum})}">구매하기</a><p>
	</div>
	
</body>
</html>